<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dry Run Suite" parallel="tests" thread-count="1">

    <test name="Smoke Test Suite">
        <packages>
            <package name="tests.smoke.*"/>
        </packages>
    </test>

    <test name="Reports Test Suite">
        <packages>
            <package name="tests.reports.*"/>
        </packages>
    </test>

    <test name="TestCheckoutProcessWithLogs">
        <classes>
            <class name="tests.smoke.TestCheckoutProcessWithLogs"/>
        </classes>
        </test>

</suite>
